body {
  font-size: 16px;
  color: black;
  background-color: #69373F;
}

/** HEADER **/
#header-nav {
  background-color: #E87B8B;
  border-radius: 0;
  border: 0;
}

.navbar-brand {
  padding-top: 25px;
  height: 90px;
}

.navbar-brand h1 { /* Restaurant name */
  color: #000;
  font-size: 1.5em;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
  border: none;
}

.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

#nav-list {
  margin: 10px;
}

#nav-list a {
  color: black;
  text-align: center;
  padding-top: 0;
  padding-bottom: 20px;
}

#nav-list a:hover {
  background: #E7E7E7;
}

#nav-list a span {
  font-size: 0.5em;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid black;
}

.navbar-header button.navbar-toggle {
  clear: both; 
  margin-top: -30px;
}


/*end header*/

#main-content {
  text-align: center;
}

#main-content h1 {
  color: black;
  text-align: center;
}

section {
  border: 1px solid black;
  background-color: #ECC4CA;
}

/*Large devices*/
@media (min-width: 1200px) {

}

/*Medium devices*/
@media (min-width: 992px) and (max-width: 1199px) {

}

/*Small devices*/
@media (min-height: 768) and (max-width: 991px) {

}

/*Extra small devices*/
@media (max-width: 767px) {
  
}